# StateEngineCrank Configuration File

# Enable progress messages
# Enable maximum verbosity
[mode]
verbose = true
debug = true
quiet = false

# Display version information
[info]
version = true

# Specify a list of files to process
# One file per line
[files]
file = StateEngine2.py
